.mainBanner {
    height: 100vh;
    background-image: url(../images/mainBanner.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 3;
  }
  
  .banner-desc {
    padding: 0 20px;
    max-width: 60%;
    text-align: center;
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    #typingText {
      min-height: 100px;
      font-size: 36px;
      line-height: 50px;
      color: #ffffff;
      font-weight: 800;
      margin-bottom: 45px;
      text-align: center;
      margin-bottom: 30px;
     
    }
  
   h3 {
    font-size: 24px;
    line-height: 50px;
    color: #ffffff;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    font-weight: 400;
    }
    .banner-buttons{
      display: flex;
      align-items: center;
      justify-content: center;
       a {
        width: 190px;
        height: 50px;
        border-radius: 25px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        color: #ffffff;
        span{
          font-size: 18px;
          color: #ffffff;
          font-weight: 800;
        }
      }
      .buy-btn{
        background-color: #0da1ec;
        font-weight: 800;
        
      }
      .whatsapp-btn{
        background-color: #74cd5c;
        margin-inline-start: 10px;
        i{
          font-size: 26px;
          color: #ffffff;
          text-align: center;
          margin-inline-end: 5px;
          display: inline-block;
        }
      }
    }
  }
  

  
  html[dir="ltr"]{
    .banner-desc h3{
      line-height: 30px;
    }
  }
  
  
  
  // scroll animated
  
  .scroll-btn {
      position: absolute;
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      bottom: 20px;
      text-align: center;
      span {
        width: 24px;
        height: 40px;
        border-radius: 12px;
        background-color: transparent;
        border: 2px solid #ffffff;
        position: relative;
        display: inline-block;
        transition: all ease 0.3s;
        }
  }
  
  
.scroll-btn  span::after {
  content: "";
  width: 2px;
  height: 7px;
  background-color: #ffffff;
  top: 6px;
  opacity: 0;
  left: 48%;
  position: absolute;
  transform: translateX(-48%);
  animation-name: scroll;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    transform: translateY(20px);
  }
}


@include max-1200{
  .banner-desc{
    max-width: none;
    width: 80%;
  }
}


@include max-768 {
  .banner-desc .banner-buttons{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .mainBanner{
    background-position: 14%;
  }
  .banner-desc .banner-buttons .whatsapp-btn{
    margin-inline-start: 0;
  }
  .banner-desc .banner-buttons .buy-btn{
    margin-bottom: 20px;
  }
   .banner-desc .banner-buttons a{
    width: 228px;
    height: 45px;
    font-size: 16px;
  }
  .banner-desc .banner-buttons .whatsapp-btn i{
    font-size: 23px;
  }
   .banner-desc .banner-buttons a span{
    font-size: 16px;
  }
  .banner-desc  #typingText{
    font-size: 20px;
    line-height: 1.6;
    min-height: 96px;
    margin-bottom: 20px;
  }
  .banner-desc{
    width: 100%;
  }
  .banner-desc h3{
    display: none;
  }
  html[dir="ltr"]{
    .banner-desc #typingText{
      line-height: 1.5;
      min-height: 90px;
    }
  }
}