body {
  font-weight: 400;
  font-style: normal;
  font-family: 'Bahij TheSansArabic' ;
}


html{
  scroll-behavior: smooth;
}


.title-text {
font-size: 30px;
color: #ffffff;
font-weight: 800;
text-align: center;
text-transform: capitalize;
margin: 0;
margin-bottom: 40px;
}


img {
  image-rendering: -webkit-optimize-contrast ;
}

.ul-es {
  list-style: none;
  padding: 0;
  margin: 0;
}

// Swiper basic reset
.success-story{
  .swiper-button-prev::after, .swiper-rtl .swiper-button-next::after{
    content: "";
  }
  .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{
    content: "";
  }
  
}



// Basic ancor 

.ancor-btn {
  color: black;
  text-decoration: none;
  display: inline-block;
  padding: 0;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  &:focus{
    text-decoration: none;
  }
}


// Scrollbar

::-webkit-scrollbar {
  width: 8px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background:  #0da1ec;
  border-radius: 15px;
}

::-webkit-scrollbar-track{
  background-color:  #fff;
}


/*preloader*/
.preloader {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.progress {
  position: fixed;
  z-index: 222000;
  top: 0;
  width: 100%;
  height: 5px;
  // background-color: #324b9f;
  background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
  background-repeat: repeat-x;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  overflow: hidden;
}

.progress-bar {
  animation: progress 6s ease infinite;
  padding: 1px;
  background-color: #0da1ec;
  /* border-radius: 4px 4px 4px 4px; */
}
@keyframes progress {
  from {
    width: 0;
    color: rgba(255, 255, 255, 0);
  }
  to {
    width: 100%;
    color: rgba(255, 255, 255, 1);
  }
}
/*preloader*/




// Back to Top
.toTop{
width: 36px;
height: 36px;
margin-bottom: 20px;
border-radius: 18px;
background-color: rgba($color: #000000, $alpha: 0.302);
cursor : pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all linear .3s;
  opacity: 0;
  visibility: hidden;
  .toTop-icon{
    font-size: 20px;
    color: #fff;
    transition: all linear .2s;
  }
}

  





// fixed whatsapp

.fixed-whatsapp{
  width: 60px;
  height: 60px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #74cd5c;
  animation-name: pulse;
	animation-duration: 1.5s;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
  text-decoration: none;
  &:focus{
    text-decoration: none;
  }
  i {
    font-size: 40px;
    color: #ffffff;
  }
}

.whats-btnTop-div{
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 20px;
  right: 20px;
  z-index: 50;
}


@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 #74cd5c;;
	}
	80% {
		box-shadow: 0 0 0 14px rgba(37, 211, 102, 0);
	}
}


@include min-1200{
  .container, .container-lg, .container-md, .container-sm, .container-xl{
    max-width: 1170px;
  }
}






@include max-768 {
  .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl{
    padding-right: 20px;
    padding-left: 20px;
  }
  .fixed-whatsapp{
    width: 50px;
    height: 50px;
    i {
      font-size: 30px;
    }
  }
  .toTop{
    right: 27px;
    bottom: 90px;
  }
  .title-text{
    font-size: 20px;
    margin-bottom: 30px;
  }
}













